<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Salut {{ user.username }}!
  <br> <br> <br> <br>
  <p><a href="{% url 'planning' %}" style="text-decoration: none; box-shadow: none; color: rgb(255, 255, 255);"> -> Ton planning</a></p>
  <br> <br>
  <p><a href="{% url 'logout' %}" style="text-decoration: none; box-shadow: none; color: rgb(255, 255, 255);"> -> Déconnexion</a></p>

{% else %}  
  <p>Oops ! Tu n'es pas connecté</p>
  <a href="{% url 'login' %}">Connexion</a>
{% endif %}
{% endblock %}