<!-- templates/planning.html -->
<body style="background-color: beige;">
<h2 style="text-align: center; font-size: 40px;"> {{ user.username }}</h2>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>


  {% for forfait in forfaits %}
  <p>Heure payées: {{ forfait.heures_payées }}</p>
  <p>Totals d'heures faites: {{ forfait.total_heures }}</p>
  {% endfor %}

{% if plannings_student %}
  {% for planning_student in plannings_student %}
    <ul>
      <li>Instructeur: {{ planning_student.instructor }}</li>
      <li>Lieu: {{ planning_student.location }}</li>
      <li>Heure: {{ planning_student.hour }}</li>
      <li>Date: {{ planning_student.date }}</li>
    </ul>
  {% endfor %}
{% endif %}
{% if plannings_instructor %}
  {% for planning_instructor in plannings_instructor %}
    <ul>
      br><br>
      <li>Student: {{ planning_instructor.student }}</li>
      <li>Lieu: {{ planning_instructor.location }}</li>
      <li>Heure: {{ planning_instructor.hour }}</li>
      <li>Date: {{ planning_instructor.date }}</li>
    </ul>
  {% endfor %}
{% endif %}
</body>